*{
    box-sizing: border-box;
  }
  body{
    margin: auto;
    margin-top: 5px;
    width: 95%;
    background-color: #dfe3ee;
    
}
#intro{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #4691A3;
    color: white;
    display: flex;
    flex-direction: row;
 
}

#intro_image_holder{
    width: 50%;
}
#intro_instructions_holder{
    width: 50%;
}

table{
    margin-top: 2%;
    border-collapse: collapse;
    
}
th, td{
    padding: 0.5rem;
    border: 1px solid #999;
    text-align: center;
}

#generate_button_div{

    display: flex;
    justify-content: center;
}

#output{
    display: flex;
    justify-content: center;
}