
* {
    box-sizing: border-box;
  }
  body{
    margin: auto;
    margin-top: 5px;
    width: 95%;
    background-color: #dfe3ee;
    
}
#intro{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #2E6AC1;
    color: white;
    display: flex;
    flex-direction: row;
 
}
#intro_image_holder{
    width: 50%;
}
#intro_instructions_holder{
    width: 50%;
}

.converter_buttons{
    display: flex;
    flex-direction: row;
    border-radius: 8px; 
    margin: 2px;
    
}
.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cb{
    
    background-color: #D3D04F; 
    border: none;
   outline: none;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    width: 25%;
    color: white;
   
}
.convert_put{
    border-radius: 8px;
}

#input_set{
   
    margin-right: 2%;
    margin-left: 2%;

}
#output_set{
    margin-left: 2%;
    margin-right: 2%;
    

}

textarea{
    text-align: right;
    
    border-radius: 8px;
   
}
#comment{
    text-align: center;
    margin-top: 10px;
    margin-right: auto;
    
}

/* #cb2{
    background-color: #D3D04F; 
    border-color: #D3D04F; 
}
#cb3{
    background-color: #D3D04F; 
    border-color: #D3D04F; 
}
#cb4{
    background-color: #D3D04F; 
    border-color: #D3D04F; 
} */



