
#main_content{
    display: flex;
    width: 100%;
   
    justify-content: center;
    
}
#intro{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #601779;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
 
}
#intro_image_holder{
    width: auto;
    margin-top: auto;
    margin-bottom: auto;

}
#intro_instructions_holder{
    margin-left: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
#input_fields{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: 50%;
    width: 70%;
}
#input_fields_1{

    display: flex;
    justify-content: center;
    height: 50%;
}
#input_fields_1 input{

    height: 50px;
    width: 50%;
    padding: 5px;
    margin-right: 2%;
    font-size: 1.5em;
}
#input_fields_2{

    margin-top: 4%;
    display: flex;
    justify-content: center;
}
#input_fields_2 button{

    height: 50px;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    font-size: 1em;
    margin-right: 1%;
   
}
#input_fields_3{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#input_fields_3 button{
    border-radius: 8px;
    width: 30%;
    margin-right: 2%;
    height: 50px;
}

#output{
   
    width: auto;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    border-radius: 8px;
    overflow: auto;
}

button{
    outline: none;
}
