* {
    box-sizing: border-box;
  }
  body{
    margin: auto;
    margin-top: 5px;
    width: 95%;
    background-color: #dfe3ee;
    
}
#logo_div{
    display: flex;
    justify-content: center;
}
.flex_container{
    display: flex;
    flex-direction: row;
}
#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
    
    
}
#right_side_panel{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    overflow: auto;
    margin: 0, auto;
}

#right_side_panel_buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
   
    border: 2px solid #dfe3ee;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-content: center;
    
    
}
.main_buttons_region_1{
    width: 100%;
    display: flex;
    flex-direction: row;
   
   
    
    justify-content: center;
   
}
#right_side_panel_buttons button{
    float: left;
    margin-top: 5px;
    height: 60px;;
 
    margin-left: 2%;
    width: 98%;
    color: #3177B7;
    outline: none;
   

}

#rp_btn_1{
   
   
    border-radius: 8px;
    background-color: white;
  
    
}
#rp_btn_2{
    
    
    border-radius: 8px;
    background-color: white;
   
}
#rp_btn_3{
   
    
    border-radius: 8px;
    background-color: white;
   
    
}
#rp_btn_4{
   
    
    border-radius: 8px;
    background-color: white;
  
    
}
#rp_btn_5{
   
    
    
    border-radius: 8px;
    background-color: white;
    
   
}
#rp_btn_6{
    
    
   
    border-radius: 8px;
    background-color: white;
 
}


a{
    width: 33%;
}

#cnr_desc{
    color: white;
    padding: 10px;
    width: 25%;
    border-radius: 8px;
    background-color: #2E6AC1;
    margin: 1%;
}

#table_desc{
    color: white;
    padding: 10px;
    width: 25%;
    border-radius: 8px;
    background-color: #4691A3;
    margin: 1%;
}
#truth_table_desc{
    color: white;
    padding: 2%;
    width: 25%;
    border-radius: 8px;
    margin: 1%;
    background-color: #4691A3;
    
}
#random_desc{
    color: white;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background-color: #E89F58;
    margin: 1%;
    
}
#cp_desc{
    color: white;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background-color: #601779;
    margin: 1%;
    
}
#game_desc{
    color: white;
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background-color: #C53520;
    margin: 1%;
    
    
}
#desc_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#desc_container_top{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#desc_container_top div{
    overflow: auto;
}
