@media screen and (min-width: 320px) and (max-width: 774px)
{
    body, .flex_container, #container, #right_side_panel, #right_side_panel_buttons, #right_side_panel_buttons button,
    #rp_btn_1, #rp_btn_2, #rp_btn_3, #rp_btn_4, #rp_btn_5, #rp_btn_6, #rp_btn_7, #left_side_panel{
        text-align: center;
        width: 100%;
        align-content: center;
        float: none;
       
        margin: 0;
        padding: 0;
        font-size: 8px;
        }


        #cnr_desc h2{
           font-size: 10px
        }

        #right_side_panel_buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
           
            border: 2px solid #dfe3ee;
            border-radius: 8px;
            
            justify-content: center;
           
            
            
        }
        .main_buttons_region_1{
            width: 80%;
            display: flex;
            flex-direction: row;
           
            border: 2px solid #dfe3ee;
            border-radius: 8px;
            margin-right: auto;
            margin-left: auto;
            justify-content: center;
            align-content: center;
        }
        #right_side_panel_buttons button{
            
            float: left;
            margin-top: 3px;
            height: 40px;;
            margin: auto;
            width: 95%;
            color: #3177B7;
        
        
        }
}
