* {
    box-sizing: border-box;
  }
  body{
    margin: auto;
    margin-top: 5px;
    width: 95%;
    background-color: #dfe3ee;
    
}
.flex_container{
    display: flex;
    flex-direction: row;
}
#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
    
    
}
#right_side_panel{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    overflow: auto;
    margin: 0, auto;
}

#right_side_panel_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
   
    border: 2px solid #dfe3ee;
    border-radius: 8px;
    padding: 5px;
    justify-content: center;
    align-content: center;
    
    
}
#right_side_panel_buttons button{
    float: left;
    margin-top: 5px;
    height: 60px;;
    margin-right: 2%;
    width: 98%;


}

#rp_btn_1{
   
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
  
    
}
#rp_btn_2{
    
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
   
}
#rp_btn_3{
   
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
   
    
}
#rp_btn_4{
   
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
  
    
}
#rp_btn_5{
   
    
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
    
   
}
#rp_btn_6{
    
    
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
 
}

#left_side_panel{
    position: relative;
    margin: auto;
    border-radius: 8px; 
    width: 75%;
    
    
}
a{
    width: 33%;
}

#cnr_desc{
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    background-color: #C4417D;
    margin: 1%;
}

#table_desc{
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    background-color: #C9664C;
    margin: 1%;
}
#truth_table_desc{
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    margin: 1%;
    background-color: #7E4FC9;
}
#random_desc{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    background-color: #5DD16B;
    margin: 1%;
    
}
#cp_desc{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    background-color: #5DD16B;
    margin: 1%;
    
}
#game_desc{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    background-color: #5DD16B;
    margin: 1%;
    
}
#desc_container{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#desc_container div{
    overflow: auto;
}