#intro{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #5DD16B;
 
}
#Instructions{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #5DD16B;
}
#input_area{
    display: flex;
    justify-content: center;
}
.output{
    display: flex;
    justify-content: center;
}
table{
    margin: 2%;
    border-collapse: collapse;
    
    
}
th, td{
    padding: 0.5rem;
    border: 1px solid #999;
    text-align: center;
}