#intro{
    text-align: center;
    font-family:  Roboto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #4691A3;
    color: white;
    display: flex;
    flex-direction: row;
 
}

#intro_image_holder{
    width: 50%;
}
#input{
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
}
#input input{
    height: 50px;
    width: 50%;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    font-size: 1em;
}
#output{
    display: flex;
    justify-content: center;
}
table{
    margin-top: 2%;
    border-collapse: collapse;
    
}
th, td{
    padding: 0.5rem;
    border: 1px solid #999;
    text-align: center;
}
